@font-face {
  font-family: 'InkwellPrintDejaVuSerif';
  src: url('../node_modules/dejavu-fonts-ttf/ttf/DejaVuSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
